.navbar-fixed
    nav
        .nav-wrapper
            a.brand-logo logo
            ul(class="right hide-on-med-and-down")
                li: a(href="#") Hola
                li: a(href="#") Hola2

.espacio



