.select
    ul(id="dropdown2" class="dropdown-content")
            li: a(href="#!") Téte
                span.badge si
            li: a(href="#!") Es
                span.badge Es
            li: a(href="#!") La
                span.badge La
            li: a(href="#!") Ley
                span.badge Ley
    a(href="#!" class="btn dropdown-button" data-activates="dropdown2") Ok