link(rel="stylesheet", href="css/Estilo.css")
link(rel="stylesheet", href="css/Normalize.css")
link(rel="stylesheet", href="css/materialize.min.css")
link(rel="manifest",href="/manifest.json")
include ../Iconos/Iconos.pug